body {
  --bg-color_1: #2a80b9;
  --bg-color_2: #86c1ea;
  --font-color1: #777;
  --font-color2: #fff;
  --title-color: #002157;
  --color-1: #e84c3d;
  --color-pinterest: #e84c3d;
  --color-twitter: #28c3ff;
  --color-facebook: #496194;
  --block-text-color: #4e4e4e;
  --dot-color: #f2c40e;
}
