@font-face {
  font-family: fontBold;
  src: url("../../fonts/Montserrat-Bold.otf");
}
@font-face {
  font-family: fontLight;
  src: url("../../fonts/Montserrat-Light.otf");
}
@font-face {
  font-family: fontRegular;
  src: url("../../fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: fontSemiBold;
  src: url("../../fonts/Montserrat-SemiBold.otf");
}
